.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: darkgrey; */
  width: 100%;
  height: 100%;
}

.pairButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: darkgray;
  border-radius: 8px;
  height: 15vh;
  max-width: 575px;
  width: 100%;
  padding: 1em;
  gap: 1em;
  margin-bottom: 16px;
}
.currencyPairButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
  width: 110px;
  height: 40px;
  border-radius: 8px;
}

.chartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  background: red;
  border-radius: 8px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
}
